# Assignment_1
If you copy codes from previous answers, explain each step. No explanation is `0 points`.

##  Part 1.Data types

a.Declare one variable for each one these types: : int , float , string , boolean.
- Print  the varible's type using  type () function

In [1]:
# Int
a = 5 # we define a=5 as a int
print(type(a))

<class 'int'>

In [3]:
# Float
b = 5.0 # we define b=5.0, this is a float
print(type(b))

<class 'float'>

In [2]:
# String
c = "bienvenido al curso" # we define c as a string
print(type(c))

<class 'str'>

In [ ]:
# Bool
d = True # we define d as a bool
print(type(d))

 b. Using only the following inputs: ```5``` and ```2```  ,  work the  operators to get the output  : ```50```

In [ ]:
e = (5**2)*2  # e is defined as the calculation of 5 squared multiplied by 2
print(e)

c. Evaluate if the output of the previous excercise is over 100. Create a variable that makes this evaluation. (Hint: It would be a boolean).

In [ ]:
e = (5**2)*2 # we define e in the previous question, this is 50
f = e>100   # we evaluate if e is major of 100, this is false
print(f)

d. Create a variable equal to a list that contains: 
- a string,
- a boolean,
- two numeric values ( of any kind)  and
- a  list of two strings with the names of your favourite musical artists.

In [ ]:
y=["hello", True, 2, 5.3, ["Adele","Taylor"]] # we create y, this variable contains a string, a boolean, two numeric values (a int and a float) and a list
print(type(y))

## Part 2. Containers

e. Create a tuple with 3 elements. Explain why you can't modify it.

In [19]:
# We create a tuple using parentheses and adding elements inside, separated by commas.

tuple_0 = (45, "precio", True)
type(tuple_0)

# We can't modify any element because we are creating a tuple. The elements of a tuple cannot be modified.

tuple

f.Create a dictionary with at least 3 different  keys and values .

In [20]:
hector = { "age" : 19, "Height" : "1.65 meters", "Weight" : "60 kg" }
type(hector)

# we create "keys" for each category within the dictionary.

dict

g.We got the next courses list:

In [5]:
courses = ["History", "Economy", "Anthropology", "Sociology ", "Literature"]

g.1.Add tree additional courses in 3 different ways( one for each way):
   - Sum (+) a list that contains an additional course. 
   - Use append. 
   - Use extend.

In [21]:
#1 Sum (+) a list that contains an additional course

extra_course = ["Algebra"]
courses = ["History", "Economy", "Anthropology", "Sociology ", "Literature"]
courses + extra_course

# we add the list "extra_course" that contains the course "Algebra" with "+".

['History', 'Economy', 'Anthropology', 'Sociology ', 'Literature', 'Algebra']

In [22]:
#2 Use append

courses = ["History", "Economy", "Anthropology", "Sociology ", "Literature"]
courses.append("Geography")
courses

# with the "append" method we can add the course "Geography" to the list.

['History', 'Economy', 'Anthropology', 'Sociology ', 'Literature', 'Geography']

In [23]:
#3 Use extend

courses = ["History", "Economy", "Anthropology", "Sociology ", "Literature"]
another_extra_course = ["Physics"]
courses.extend(another_extra_course)
courses

# We create the list "another_extra_course" in which we add the course "Physics". Once done, we use the "extend" method to join the item to the list "courses".

['History', 'Economy', 'Anthropology', 'Sociology ', 'Literature', 'Physics']

g.2.Use the indexation to stress _Sociology_.

In [24]:
courses[3]

# We stress the course "sociology" using python indexing. This starts with "0", so the position of said item is "3".

'Sociology '

g.3 Remove your least favourite course

In [25]:
courses = ["History", "Economy", "Anthropology", "Sociology ", "Literature"]
courses.remove("Literature")
courses

# Using the "remove" method, we remove the course "literature" from the list.

['History', 'Economy', 'Anthropology', 'Sociology ']

g.4. Invert the list

In [26]:
courses = ["History", "Economy", "Anthropology", "Sociology ", "Literature"]
courses.reverse()
courses

# We invert the list using the "reverse" method.

['Literature', 'Sociology ', 'Anthropology', 'Economy', 'History']

h.Create a dictionary that representst a fruits inventory:
 - Add at least 5 fruits to the inventory
- Print the amount of apples in stock 
- Modify the amount of grapes

In [27]:
#1 Add at least 5 fruits to the inventory

fruits_inventory = { "apples" : 15, "grapes" : 30, "pears" : 20, "pineapples" : 13, "oranges" : 25}
type(fruits_inventory)

# we create a dictionary with the items "apples", "grapes", "pears", "pineapples" and "oranges".

dict

In [28]:
#2 Print the amount of apples in stock

fruits_inventory = { "apples" : 15, "grapes" : 30, "pears" : 20, "pineapples" : 13, "oranges" : 25}
fruits_inventory["apples"]

# We indicate the number of apples by writing the dictionary and placing the key "apples" in brackets.

15

In [29]:
#3 Modify the amount of grapes

fruits_inventory = { "apples" : 15, "grapes" : 30, "pears" : 20, "pineapples" : 13, "oranges" : 25}
fruits_inventory["grapes"] = 22
fruits_inventory

# We modify the number of grapes by writing the name of the dictionary, we place the "key" in brackets, we use the "=" sign and we put the new amount.

{'apples': 15, 'grapes': 22, 'pears': 20, 'pineapples': 13, 'oranges': 25}

i.  Write a dictionary with the local GMT of the nexts cities:
- Antananarivo, Madagascar, 
- Beirut, Lebanon, 
- Jakarta, Indonesia, 
- Teherán, Iran, 
- Vientiane, Laos, 



Hint: Lima would be: `"Lima": -5`

In [30]:
GMT_cities = { "Antananarivo" : -3, "Beirut" : +2, "Jakarta" : +7, "Teherán" : -3.5, "Vientiane" : +7 }
type(GMT_cities)

# We generate a dictionary associating each city (key) with its respective local GMT.

dict

 j.Add the nexts cities to the dictionary:
- Astana, Kazakhstan,
- Uagadugú, Burkina Faso,
- Balmopan, Belize

In [31]:
GMT_extra_cities = { "Astana" : +5, "Uagadugú" : +0, "Balmopan" : +6}
GMT_cities = { "Antananarivo" : -3, "Beirut" : +2, "Jakarta" : +7, "Teherán" : -3.5, "Vientiane" : +7 }
GMT_cities.update(GMT_extra_cities)
GMT_cities

# we generate a new dictionary with the new cities (keys) to add and their respective local GMT. After that, we use the "update" method to join the elements of the new dictionary to "GMT_cities".

{'Antananarivo': -3,
 'Beirut': 2,
 'Jakarta': 7,
 'Teherán': -3.5,
 'Vientiane': 7,
 'Astana': 5,
 'Uagadugú': 0,
 'Balmopan': 6}

# Part 3. Numpy

k.Create an array with 10 aleatory values that go from 0 to 9

l.Create a matrix 3x2 fill with zeros

m.Sum two arrays and then multiply the output by an scalar

n.Create 2 arrays with the values that you wish :
- Concatenate vertically 
- Concatenate horizontally