# Assignment_1
If you copy codes from previous answers, explain each step. No explanation is `0 points`.

##  Part 1.Data types

a.Declare one variable for each one these types: : int , float , string , boolean.
- Print  the varible's type using  type () function

In [1]:
# Variable tipo int:
a = 50
print(a)
type(a)

50

int

In [2]:
# Variable tipo float:
b = 10.5
print(b)
type(b)

10.5

float

In [3]:
# Variable tipo string:
singer = "Shakira"
print(singer)
type(singer)

Shakira

str

In [4]:
d = True
print(d)
type(d)

True

bool

 b. Using only the following inputs: ```5``` and ```2```  ,  work the  operators to get the output  : ```50```

In [5]:
result = 5*(5*2)
print(result)

50

c. Evaluate if the output of the previous excercise is over 100. Create a variable that makes this evaluation. (Hint: It would be a boolean).

In [6]:
check = result > 100
print(check)

False

d. Create a variable equal to a list that contains: 
- a string,
- a boolean,
- two numeric values ( of any kind)  and
- a  list of two strings with the names of your favourite musical artists.

In [7]:
list_1 = ["Chocolate", False, 100, 40.5, "Sam_Smith", "CardiB"]
list_1

['Chocolate', False, 100, 40.5, 'Sam_Smith', 'CardiB']

## Part 2. Containers

e. Create a tuple with 3 elements. Explain why you can't modify it.

In [2]:
tupla=(7, "GATO",3.14)
print(tupla)

(7, 'GATO', 3.14)

f.Create a dictionary with at least 3 different  keys and values .

In [3]:
diccionario={"Pais":"Perú", "Nro de colores primarios":3 , "Mitad": 0.5}
print(diccionario)

{'Pais': 'Perú', 'Nro de colores primarios': 3, 'Mitad': 0.5}

g.We got the next courses list:

In [5]:
courses = ["History", "Economy", "Anthropology", "Sociology ", "Literature"]

g.1.Add tree additional courses in 3 different ways( one for each way):
   - Sum (+) a list that contains an additional course. 
   - Use append. 
   - Use extend.

In [6]:
courses = courses + ["Math"]
print(courses)

['History', 'Economy', 'Anthropology', 'Sociology ', 'Literature', 'Math']

In [7]:
courses.append("Philosophy")
print(courses)

['History', 'Economy', 'Anthropology', 'Sociology ', 'Literature', 'Math', 'Philosophy']

In [8]:
courses.extend(["Psychology"])
print(courses)

['History', 'Economy', 'Anthropology', 'Sociology ', 'Literature', 'Math', 'Philosophy', 'Psychology']

g.2.Use the indexation to stress _Sociology_.

In [9]:
courses[3] = courses[3].upper()
print(courses)

['History', 'Economy', 'Anthropology', 'SOCIOLOGY ', 'Literature', 'Math', 'Philosophy', 'Psychology']

g.3 Remove your least favourite course

In [10]:
courses.remove("Anthropology")
print(courses)

['History', 'Economy', 'SOCIOLOGY ', 'Literature', 'Math', 'Philosophy', 'Psychology']

g.4. Invert the list

In [11]:
courses.reverse()
print(courses)

['Psychology', 'Philosophy', 'Math', 'Literature', 'SOCIOLOGY ', 'Economy', 'History']

h.Create a dictionary that representst a fruits inventory:
 - Add at least 5 fruits to the inventory
- Print the amount of apples in stock 
- Modify the amount of grapes

In [13]:
fruits_inventory = {
    "apples": 8,
    "bananas": 10,
    "grapes": 30,
    "oranges": 15,
    "pears": 6
}

In [14]:
print(fruits_inventory["apples"])

8

In [16]:
fruits_inventory["grapes"] = 27
print(fruits_inventory)

{'apples': 8, 'bananas': 10, 'grapes': 27, 'oranges': 15, 'pears': 6}

i.  Write a dictionary with the local GMT of the nexts cities:
- Antananarivo, Madagascar, 
- Beirut, Lebanon, 
- Jakarta, Indonesia, 
- Teherán, Iran, 
- Vientiane, Laos, 



Hint: Lima would be: `"Lima": -5`

 j.Add the nexts cities to the dictionary:
- Astana, Kazakhstan,
- Uagadugú, Burkina Faso,
- Balmopan, Belize

# Part 3. Numpy

k.Create an array with 10 aleatory values that go from 0 to 9

l.Create a matrix 3x2 fill with zeros

m.Sum two arrays and then multiply the output by an scalar

n.Create 2 arrays with the values that you wish :
- Concatenate vertically 
- Concatenate horizontally