# Assignment_1
If you copy codes from previous answers, explain each step. No explanation is `0 points`.

##  Part 1.Data types

a.Declare one variable for each one these types: : int , float , string , boolean.
- Print  the varible's type using  type () function

In [1]:
# We create a variable for each type and use the type() function
a= 5 
b= 331.24
c= "La Oroya"
d= False

In [3]:
type(a)

int

In [5]:
type(b)

float

In [7]:
type(c)

str

In [9]:
type(d)

bool

 b. Using only the following inputs: ```5``` and ```2```  ,  work the  operators to get the output  : ```50```

In [12]:
# We create the inputs
x=5
y=2

In [14]:
print(x)
type(x)

5

int

In [16]:
print(y)
type(y)

2

int

In [18]:
# The result is (5^2)*2 = 50
resultado = x**y * y
print(resultado)

50

c. Evaluate if the output of the previous excercise is over 100. Create a variable that makes this evaluation. (Hint: It would be a boolean).

In [21]:
# We evaluate if the output is over 100
evaluate= resultado>100
print(evaluate)

False

d. Create a variable equal to a list that contains: 
- a string,
- a boolean,
- two numeric values ( of any kind)  and
- a  list of two strings with the names of your favourite musical artists.

In [24]:
# We create the list that contains each requirement
t=["La Oroya",True,33.56, 100,["Do Kyungsoo","Adele"]]

In [26]:
type(t)

list

In [28]:
print(t)

['La Oroya', True, 33.56, 100, ['Do Kyungsoo', 'Adele']]

## Part 2. Containers

e. Create a tuple with 3 elements. Explain why you can't modify it.

In [5]:
#I am creating a tuple with three elements. Tuples are immutable, meaning I cannot change or update their values after creating them.
tuple_1=(45,"Fam.Ramos", True)

In [6]:
type(tuple_1)

tuple

In [7]:
tuple[0]= "Jorge Ramos"

TypeError: 'type' object does not support item assignment

In [8]:
#Here I try to modify the value in the tuple_1 but it is impossible because tuples
#are immutable containers. This immutability ensures that the data remains constant 
#throughout the program, making tupless ideal for storing ficed collection of 
#elements wher changes are not allowed #

f.Create a dictionary with at least 3 different  keys and values .

In [9]:
#I am creating a dictionary with three key-value pairs. Each key is unique and is used to identify its associated value.
#I am adding a mix of data types, such as strings, numbers, and booleans, to show the flexibility of dictionaries. Once created, I can quickly access any value by using its key.

In [12]:
caracteristicas={"Edad":24, "Peso": 67.55, "Nombre": "Jose", "Enfermedad Gastritis": True}

In [13]:
type(caracteristicas)

dict

In [14]:
print(caracteristicas)

{'Edad': 24, 'Peso': 67.55, 'Nombre': 'Jose', 'Enfermedad Gastritis': True}

g.We got the next courses list:

In [16]:
courses = ["History", "Economy", "Anthropology", "Sociology ", "Literature"]

g.1.Add tree additional courses in 3 different ways( one for each way):
   - Sum (+) a list that contains an additional course. 
   - Use append. 
   - Use extend.

In [23]:
#First, I am adding a course to the list using the + operator. 
#This creates a new list by concatenating the original list with another 
#one containing the new course.

In [17]:
courses= courses+["Science and Technology"]

In [18]:
print(courses)

['History', 'Economy', 'Anthropology', 'Sociology ', 'Literature', 'Science and Technology']

In [ ]:
#Next, I am using the append() method to add a single 
#course directly to the end of the existing list.

In [19]:
courses.append("Biology")

In [20]:
print(courses)

['History', 'Economy', 'Anthropology', 'Sociology ', 'Literature', 'Science and Technology', 'Biology']

In [ ]:
#Finally, I am using the extend() method to add multiple
#courses at once. This unpacks the elements of another list and adds
#them individually to the current list.

In [21]:
courses.extend(["Physics"])

In [22]:
print(courses)

['History', 'Economy', 'Anthropology', 'Sociology ', 'Literature', 'Science and Technology', 'Biology', 'Physics']

g.2.Use the indexation to stress _Sociology_.

In [ ]:
#I am modifying the "Sociology" element to highlight it. 
#For example, I can make it uppercase or add special characters to emphasize it.

In [24]:
courses[3]="**SOCIOLOGY**"

In [25]:
print(courses)

['History', 'Economy', 'Anthropology', '**SOCIOLOGY**', 'Literature', 'Science and Technology', 'Biology', 'Physics']

g.3 Remove your least favourite course

In [26]:
courses.remove("Anthropology")
print(courses)

['History', 'Economy', '**SOCIOLOGY**', 'Literature', 'Science and Technology', 'Biology', 'Physics']

In [ ]:
#I am removing my least favorite course from the list. 
#To do this, I can either use the remove() method to delete the course by
#its name or the pop() method to delete it by its index.
#After removing the course, I am checking the updated list
#to ensure that the element has been successfully removed.

g.4. Invert the list

In [27]:
print(courses)

['History', 'Economy', '**SOCIOLOGY**', 'Literature', 'Science and Technology', 'Biology', 'Physics']

In [28]:
courses.reverse()
print(courses)

['Physics', 'Biology', 'Science and Technology', 'Literature', '**SOCIOLOGY**', 'Economy', 'History']

In [ ]:
#I am reversing the order of the list so that the last course becomes the first. 
#To do this, I can use the reverse() method, which modifies the list directly.

h.Create a dictionary that representst a fruits inventory:
 - Add at least 5 fruits to the inventory
- Print the amount of apples in stock 
- Modify the amount of grapes

In [29]:
my_inventory={"apple":32,"pineapple": 15, "strawberry":443, "banana": 43, "grapes": 69}

In [30]:
type(my_inventory)

dict

In [31]:
print(my_inventory)

{'apple': 32, 'pineapple': 15, 'strawberry': 443, 'banana': 43, 'grapes': 69}

In [32]:
print("Stock of apples:", my_inventory["apple"])

Stock of apples: 32

In [33]:
my_inventory["grapes"]= 169

In [34]:
print(my_inventory)

{'apple': 32, 'pineapple': 15, 'strawberry': 443, 'banana': 43, 'grapes': 169}

In [35]:
#I am creating a dictionary to represent a fruits inventory. 
#Each key is the name of a fruit, and the value represents its stock quantity.
#I am accessing the stock of apples by referencing the "apple" key.
#I am updating the stock of grapes by assigning a new value to the "grape" key.

i.  Write a dictionary with the local GMT of the nexts cities:
- Antananarivo, Madagascar, 
- Beirut, Lebanon, 
- Jakarta, Indonesia, 
- Teherán, Iran, 
- Vientiane, Laos, 



Hint: Lima would be: `"Lima": -5`

In [36]:
gmt_cities={"Antananarivo, Madagascar": +3,
    "Beirut, Lebanon": +2,
    "Jakarta, Indonesia": +7,
    "Tehran, Iran": +3.5,
    "Vientiane, Laos": +7}

In [37]:
type(gmt_cities)

dict

In [38]:
print(gmt_cities)

{'Antananarivo, Madagascar': 3, 'Beirut, Lebanon': 2, 'Jakarta, Indonesia': 7, 'Tehran, Iran': 3.5, 'Vientiane, Laos': 7}

In [39]:
#I am creating a dictionary where the keys represent city names and the values
#represent their GMT offsets.
#This structure allows me to quickly look up the timezone of any city by its 
#name. I can also update the GMT offset for any city if needed.

 j.Add the nexts cities to the dictionary:
- Astana, Kazakhstan,
- Uagadugú, Burkina Faso,
- Balmopan, Belize

In [40]:
gmt_cities.update({"Astana, Kazakhstan": +6,
    "Uagadugú, Burkina Faso": 0,
    "Balmopan, Belize": -6})

In [41]:
print(gmt_cities)

{'Antananarivo, Madagascar': 3, 'Beirut, Lebanon': 2, 'Jakarta, Indonesia': 7, 'Tehran, Iran': 3.5, 'Vientiane, Laos': 7, 'Astana, Kazakhstan': 6, 'Uagadugú, Burkina Faso': 0, 'Balmopan, Belize': -6}

In [ ]:
#I am adding three more cities to the dictionary created in the previous question.
#These cities are Astana, Kazakhstan with GMT +6, Uagadugú, Burkina Faso with 
#GMT 0, and Balmopan, Belize with GMT -6.
#To add these new cities, I am using the update() method. 
#This allows me to insert multiple key-value pairs into the dictionary at once.
#After adding the cities, I am printing the updated dictionary to confirm
#that all the new entries have been added correctly.

# Part 3. Numpy

k.Create an array with 10 aleatory values that go from 0 to 9

In [1]:
# First, import the numpy library
import numpy as np

# Second, create an array with 10 random integer values between 0 and 9
array_k = np.random.randint(0, 10, 10)  # In this case, randint generates random integers in the range [0, 10)
print("Array with random values:", array_k)

Array with random values: [8 4 7 8 9 7 0 0 6 8]

l.Create a matrix 3x2 fill with zeros

In [2]:
# In this item, we created a 3x2 matrix filled with zeros
matrix_l = np.zeros((3, 2)) 
print("3x2 matrix filled with zeros:\n", matrix_l)

3x2 matrix filled with zeros:
 [[0. 0.]
 [0. 0.]
 [0. 0.]]

m.Sum two arrays and then multiply the output by an scalar

In [3]:
# First, we defined two arrays
array1 = np.array([1, 2, 3])  # First array
array2 = np.array([4, 5, 6])  # Second array

# Scalar for multiplication
scalar = 2

# Sum the two arrays element by element
sum_array = array1 + array2  # Vectorized operation
print("Sum of the arrays:", sum_array)

# Finally, multiply the result by the scalar
result_m = scalar * sum_array
print("Result after multiplying by the scalar:", result_m)

Sum of the arrays: [5 7 9]
Result after multiplying by the scalar: [10 14 18]

1)  Define two numerical arrays: Two sets of data are created, named array1 and array2, which contain numbers organized in the form of lists.

2) Perform element-wise addition: Each value in the first array is added to the corresponding value in the second array. For example, the first number in the first array is added to the first number in the second array, the second to the second, and so on. 

3) Multiply the result by a scalar: The resulting array from the addition is multiplied by a fixed number (called scalar), which is applied to each element of the array. 

4) Print the results: Finally, both the intermediate array and the final array are displayed on the screen.

n.Create 2 arrays with the values that you wish :
- Concatenate vertically 
- Concatenate horizontally

In [ ]:
# In the last item, we created two arrays with arbitrary values!
array_n1 = np.array([1, 2, 3])  # First array
array_n2 = np.array([4, 5, 6])  # Second array

# Vertical 
concat_vert = np.vstack((array_n1, array_n2))  # vstack stacks the arrays as rows
print("Vertical concatenation:\n", concat_vert)

# Horizontal 
concat_horiz = np.hstack((array_n1, array_n2))  # hstack concatenates the arrays as columns
print("Horizontal concatenation:\n", concat_horiz)

1) Define two numerical arrays: Two independent datasets are created, array_n1 and array_n2, which contain custom values. These values will be used for concatenation.

2) Vertical concatenation: The two arrays are placed one below the other, forming a matrix structure with two rows and as many columns as elements each array has.

3) Horizontal concatenation: The two arrays are placed side by side, forming a single longer array, with the elements from the first array followed by the elements from the second.

4) Print the results: Finally, both forms of concatenation are displayed, allowing visualization of how the data is organized in the two configurations