 # Assignment_3

If you copy codes from previous answers, explain each step. No explanation is 0 points.

## Part 1. Functions

1.Write a function that takes two numeric parameters, `a` and `b`, and subtracts both numbers, such that `c = a - b`. Expresses `c` as the value to return.

In [1]:
# We create a function:  
def subtraction(a,b):
    c = a - b
    return c

In [2]:
# An example:
subtraction(850, 320)

530

2.Write a function that transforms the temperature from degrees Celsius to degrees Fahrenheit. The formula is:    
$F = 1.8*C + 32$

In [3]:
def celsius_a_fahrenheit(temp_c):
    '''
     transform temperature from celsius to fahrenheit
    Input: 
        temp_c:float number
    Output: 
        returns: float number
    '''
    
    #Write your function here
    temp_f = 1.8*temp_c + 32 
    return temp_f

In [4]:
# An example:
celsius_a_fahrenheit(45)

113.0

3.Write a function that gives the result of a division of two numbers, however, the result must be a mixed number. 

Mixed numbers are a representation that has an integer part and a part less than one. For example, $50 / 7$ is represented as follows:
$
  7\frac{1}{7}
$  

Another example: $23 / 4$ would be 
$
  5\frac{3}{4}
$  

The function takes 2 arguments: first, the number to divide, and second, the divisor. 

The function returns a list with 3 elements: the integer, the numerator of the fraction and the denominator of the fraction. 

For example, ``` mixed_number(23,4)``` results in ```[5, 3, 4] ```. 

``` mixed_number(24,4)``` results in ```[6, 0, 4] ```. 

Hint: floor and module

In [11]:
def mixed_numb(num, den):
    ''' Convert division to mixed number
    Input: 
        num: integer
        den: integer
    Output: 
        returns: list with 3 numbers
    '''
    # I am going to calculate the integer part using floor division 
    integer_part = num // den

    # I am going to calculate the remainder, which is the numerator of the fractional part
    fractional_numerator = num % den

    # As we see in the examples, the dominator of the fractional part remains the same
    fractional_dominator = den

    # Now we return the result as a list [integer_part, fractional_numerator, fractional_dominator]
    return [integer_part, fractional_numerator, fractional_dominator]


print(mixed_numb(7, 3)) # [2, 1, 3]
print(mixed_numb(72, 6)) # [12, 0, 6]

[2, 1, 3]
[12, 0, 6]

4.We have the next function

In [14]:
def school_grade(age):
    ''' calculate the school grade you belong to according to your age
    Input: 
    age: int
    output: tuple, composed of 
    grade: string
    esp: specific what degree
    '''
    
    if (age < 6) or (age > 17):
        return "Isn't in school grade"
    elif (age >= 6) and (age < 12):
        grade = "Primary"
        if age == 6:
            esp = "1st grade"
        elif age == 7:
            esp = "2nd grade"
        elif age == 8:
            esp = "3rd grade"
        elif age == 9:
            esp = "4th grade"
        elif age == 10:
            esp = "5th grade"
        else:
            esp = "6th grade"
    else:
        grade = "Highschool"
        if age == 12:
            esp = "1st grade"
        elif age == 13:
            esp = "2nd grade"
        elif age == 14:
            esp = "3rd grade"
        elif age == 15:
            esp = "4th grade"
        else:
            esp = "5th grade"
            
    return grade, esp

Likewise, we have 7 children, who are of the following ages:   
    `ages = [2, 4, 6, 7, 10, 15, 16]`  
We want to know what grades/years these children go to. To do this, create an empty list. In this list you will store the result of said function for each of the ages in this list. Use a for loop . 

Hint: To get familiar with the feature, you can use it with ages within the school age range.

In [17]:
# Ages list to test
ages = [2, 4, 6, 7, 10, 15, 16]

#Empty list to store the results
grades = []

# Bucle to iterate over the ages list 
for x in ages: 
    grades.append(school_grade(x))

# Print the results
print(grades)

["Isn't in school grade", "Isn't in school grade", ('Primary', '1st grade'), ('Primary', '2nd grade'), ('Primary', '5th grade'), ('Highschool', '4th grade'), ('Highschool', '5th grade')]

5. Write a function that converts Lima time (GMT -5) into 4 possible hours: 
- Vanuatu Time (GMT +11)  
- Dominica Time (GMT - 4)
- Time Abuja, Nigeria (GMT +1)
- Beijing, China Time (GMT +8)  
(We can use a dictionary inside the function, to find the city-time pairs more easily.)

Let's assume that we will only use whole hours. 
The function must have 2 parameters: 
- the Lima time that we want to convert (integer). 
- the city (string) to which we want to convert the time.

The function must return the time (0 to 24 hours) as a number (can be a float ending in .0). Be careful that you have to handle the case when the sum is more than 24 hours (Hint: %). 
There are cases in which the time can be negative (Hint: See it as a subtraction)

In [1]:
def convert_lima_time(lima_time, city):
    # Dictionary mapping cities to their GMT offsets
    time_offsets = {
        "Vanuatu": 16,   
        "Dominica": 1,   
        "Abuja": 6,      
        "Beijing": 13    
    }
    
    # Check if the city is in the dictionary
    if city not in time_offsets:
        raise ValueError(f"City '{city}' is not recognized. Available options: {list(time_offsets.keys())}")
    
    # Calculate the time in the desired city
    city_time = (lima_time + time_offsets[city]) % 24
    
    return float(city_time)  # Return as a float ending in .0

In [4]:
#Example
convert_lima_time(1, "Abuja")

7.0

## Part 2. Classes

6. Person Class
- Attributes: name, age, address.
Methods:
__init__(): Constructor to initialize attributes.
- greet(): Print a custom greeting.
- birthday_years(): Increases the age by one.

In [18]:
# We create Person Class:
class PersonClass:
    
    def __init__(self, name, age, address):
        self.name = name
        self.age = age
        self.address = address

    def greet( self ):
        print( f'Hi, my name is { self.name }.I am {self.age} years old and I live at {self.address}.')
        
    def birthday_years( self ):
        self.age +=1
        print(f"The next year, I will be {self.age} years old.")

In [19]:
# An example:
Marco = PersonClass("Marco", 22, "Jr. Unión")
Marco.greet()
Marco.birthday_years()

Hi, my name is Marco.I am 22 years old and I live at Jr. Unión.
The next year, I will be 23 years old.

7.BankAccount Class
- Attributes: owner, account_number, balance.
Methods:
- deposit(): Increase the balance.
- withdraw(): Decreases balance (check for sufficient funds).
- show_info(): Prints the account information.

In [42]:
class BankAccountClass:

    def __init__(self, owner, account_number, balance):
        self.owner = owner
        self.account_number = account_number
        self.balance = balance
    
    def deposit(self, amount):

        "Increase the balance by the amount deposited"

        if amount > 0: 
            self.balance += amount 
            print("deposited $" + str(round(amount, 2)) + ". Your new balance is $" + str(round(self.balance, 2)))                  
        else:
            print("Invalid amount. Please enter a positive number.")
    
    def withdraw(self, amount):

        "Decrease the balance by the amount withdrawn"

        if amount > 0: 
            if amount <= self.balance: 
                self.balance -= amount 
                print("withdrawn $" + str(round(amount,2)) + ". Your new balance is $" + str(round(self.balance,2)))
            else: 
                print("Insufficient funds. Your current balance is $" + str(round(self.balance,2)))
        else:
            print("Invalid amount. Please enter a positive number.")
    
    def show_info(self): 

        "Print the account information"

        print("Owner:" + self.owner)
        print("Account number:" + self.account_number)
        print("Balance: $" + str(round(self.balance,2)))

In [41]:
account = BankAccountClass("Dj Peligro", "123456", 1000)
account.show_info()

print("---------------------------------")
account.deposit(500)
print("---------------------------------")
account.withdraw(200)
print("---------------------------------")
account.withdraw(2000) #this have to show an insfficient funds message
print("---------------------------------")
account.show_info()

Owner:Dj Peligro
Account number:123456
Balance: $1000
---------------------------------
deposited $500. Your new balance is $1500
---------------------------------
withdrawn $200. Your new balance is $1300
---------------------------------
Insufficient funds. Your current balance is $1300
---------------------------------
Owner:Dj Peligro
Account number:123456
Balance: $1300


8.Create a class called Mascot that represents a mascot in a store. The class must have the following attributes and methods:

Attributes:

- name: The name of the pet.
- species: The species of the pet (dog, cat, etc.).
- breed: The breed of the pet.
- age: The age of the pet.
- price: The price of the pet.

Methods:

- __init__(self, name, species, race, age, price): Constructor that initializes the class with the given attributes.
- show_information(self): Prints the pet information in a readable format.
- discount(self, percentage): Applies a discount to the price of the pet.

In [17]:
class Mascot:
    def __init__(self, name, species, breed, age, price):
        """
        Constructor
        """
        self.name = name
        self.species = species
        self.breed = breed
        self.age = age
        self.price = price

    def show_information(self):
        """
        Prints the pet's information
        """
        print(f"Her name is {self.name} and she is of the species {self.species}.")
        print(f"She eats {self.breed}.")
        print(f"Her age is {self.age} years and her price is ${self.price:.2f}.")

    def discount(self, percentage):
        """
        Applies a discount to the pet's price.
        """
        if 0 <= percentage <= 100:
            discount_amount = self.price * (percentage / 100)
            self.price -= discount_amount  # Update the price
            print(f"A discount of {percentage}% has been applied. New price: ${self.price:.2f}")
        else:
            print("Invalid discount percentage. Please enter a value between 0 and 100.")

In [18]:
#Example
# Create and use the class directly
pet = Mascot(name="Killane", species="cat", breed="fish", age=3, price=120)

# Show information
pet.show_information()

# Apply a discount of 20%
pet.discount(20)

Her name is Killane and she is of the species cat.
She eats fish.
Her age is 3 years and her price is $120.00.
A discount of 20% has been applied. New price: $96.00