 # Assignment_3

If you copy codes from previous answers, explain each step. No explanation is 0 points.

## Part 1. Functions

1.Write a function that takes two numeric parameters, `a` and `b`, and subtracts both numbers, such that `c = a - b`. Expresses `c` as the value to return.

In [37]:
def function1(a:int,b:int):
    y = a - b
    return y

In [38]:
function1(9,2)

7

2.Write a function that transforms the temperature from degrees Celsius to degrees Fahrenheit. The formula is:    
$F = 1.8*C + 32$

In [39]:
def celsius_a_fahrenheit(temp_c):
    '''
     transform temperature from celsius to fahrenheit
    Input: 
        temp_c:float number
    Output: 
        returns: float number
    '''
    
    #Write your function here
    
    temp_f = 1.8 * temp_c + 32
    
    return temp_f 

resultado = celsius_a_fahrenheit(30)
print(f"30 grados Celsius son equivalentes a {resultado} grados Fahrenheit.")

30 grados Celsius son equivalentes a 86.0 grados Fahrenheit.

3.Write a function that gives the result of a division of two numbers, however, the result must be a mixed number. 

Mixed numbers are a representation that has an integer part and a part less than one. For example, $50 / 7$ is represented as follows:
$
  7\frac{1}{7}
$  

Another example: $23 / 4$ would be 
$
  5\frac{3}{4}
$  

The function takes 2 arguments: first, the number to divide, and second, the divisor. 

The function returns a list with 3 elements: the integer, the numerator of the fraction and the denominator of the fraction. 

For example, ``` mixed_number(23,4)``` results in ```[5, 3, 4] ```. 

``` mixed_number(24,4)``` results in ```[6, 0, 4] ```. 

Hint: floor and module

In [40]:
def mixed_numb(num, den):
    '''

    Convert division to mixed number
    Input: 
        num: integer
        den: integer
    Output: 
        returns: list with 3 numbers
    '''
    entero = num//den
    residuo =num - entero*den
    lista_output = [entero, residuo, den]
    
    return lista_output

In [41]:
mixed_numb(17,10)

[1, 7, 10]

4.We have the next function

In [42]:
def school_grade(age):
    ''' 
    calculate the school grade you belong to according to your age
    Input: 
        age: int
    Output: 
        tuple, composed of 
        grade: string
        esp: specific what degree
    '''
    
    if (age < 6) or (age > 17):
        return "Isn't in school grade"
    elif (age >= 6) and (age < 12):
        grade = "Primary"
        if age == 6:
            esp = "1st grade"
        elif age == 7:
            esp = "2nd grade"
        elif age == 8:
            esp = "3rd grade"
        elif age == 9:
            esp = "4th grade"
        elif age == 10:
            esp = "5th grade"
        else:
            esp = "6th grade"
        
    else:
        grade = "Highschool"
        if age == 12:
            esp = "1st grade"
        elif age == 13:
            esp = "2nd grade"
        elif age == 14:
            esp = "3rd grade"
        elif age == 15:
            esp = "4th grade"
        else:
            esp = "5th grade"
            
    return grade, esp

Likewise, we have 7 children, who are of the following ages:   
    `ages = [2, 4, 6, 7, 10, 15, 16]`  
We want to know what grades/years these children go to. To do this, create an empty list. In this list you will store the result of said function for each of the ages in this list. Use a for loop . 

Hint: To get familiar with the feature, you can use it with ages within the school age range.

In [43]:
ages = [2, 4, 6, 7, 10, 15, 16]
list_result = []
for age in ages:
    result = school_grade(age)
    list_result.append(result)

for res in list_result:
    print(res)

Isn't in school grade
Isn't in school grade
('Primary', '1st grade')
('Primary', '2nd grade')
('Primary', '5th grade')
('Highschool', '4th grade')
('Highschool', '5th grade')

5. Write a function that converts Lima time (GMT -5) into 4 possible hours: 
- Vanuatu Time (GMT +11)  
- Dominica Time (GMT - 4)
- Time Abuja, Nigeria (GMT +1)
- Beijing, China Time (GMT +8)  
(We can use a dictionary inside the function, to find the city-time pairs more easily.)

Let's assume that we will only use whole hours. 
The function must have 2 parameters: 
- the Lima time that we want to convert (integer). 
- the city (string) to which we want to convert the time.

The function must return the time (0 to 24 hours) as a number (can be a float ending in .0). Be careful that you have to handle the case when the sum is more than 24 hours (Hint: %). 
There are cases in which the time can be negative (Hint: See it as a subtraction)

In [44]:
def convert_time(lima_time, city):

    time_differences = {
        "Vanuatu": 16,       # GMT +11 relative to GMT -5
        "Dominica": 1,       # GMT -4 relative to GMT -5
        "Abuja": 6,          # GMT +1 relative to GMT -5
        "Beijing": 13        # GMT +8 relative to GMT -5
    }
    
    
    converted_time = lima_time + time_differences[city]
    
    converted_time = converted_time % 24
    
    return float(converted_time)

cities = ["Vanuatu", "Dominica", "Abuja", "Beijing"]
lima_time = 23

for city in cities:
    converted = convert_time(lima_time, city)
    print(f"Lima time: {lima_time}, {city} time: {converted}")

Lima time: 23, Vanuatu time: 15.0
Lima time: 23, Dominica time: 0.0
Lima time: 23, Abuja time: 5.0
Lima time: 23, Beijing time: 12.0

## Part 2. Classes

6. Person Class
- Attributes: name, age, address.
Methods:
__init__(): Constructor to initialize attributes.
- greet(): Print a custom greeting.
- birthday_years(): Increases the age by one.

In [45]:
class Person:
    def __init__(self, name, age, address):
        self.name = name  # Inicializa el atributo 'name'
        self.age = age    # Inicializa el atributo 'age'
        self.address = address  # Inicializa el atributo 'address'

    def greet(self):
        print(f"Hello, my name is {self.name}!")  # Saludo personalizado

    def birthday_years(self):
        self.age += 1  # Incrementa la edad en 1
        print(f"Happy Birthday! You are now {self.age} years old.")

In [46]:

# Crear una instancia de la clase Person
person = Person("Miguel Villasante", 22, "Lima, Peru")

# Mostrar un saludo personalizado
print("Greeting:")
person.greet()

# Mostrar información actual y luego incrementar la edad
print("\nCelebrating a birthday:")
person.birthday_years()

Greeting:
Hello, my name is Miguel Villasante!

Celebrating a birthday:
Happy Birthday! You are now 23 years old.

7.BankAccount Class
- Attributes: owner, account_number, balance.
Methods:
- deposit(): Increase the balance.
- withdraw(): Decreases balance (check for sufficient funds).
- show_info(): Prints the account information.

In [47]:
class BankAccount:
    def __init__(self, owner, account_number, balance=0):
        self.owner = owner  # Propietario de la cuenta
        self.account_number = account_number  # Número de cuenta
        self.balance = balance  # Saldo inicial (por defecto es 0)

    def deposit(self, amount):
        """Incrementa el saldo con el monto especificado."""
        if amount > 0:
            self.balance += amount
            print(f"${amount} has been deposited. New balance: ${self.balance}")
        else:
            print("Deposit amount must be positive.")

    def withdraw(self, amount):
        """Reduce el saldo, verificando si hay fondos suficientes."""
        if amount > 0:
            if amount <= self.balance:
                self.balance -= amount
                print(f"${amount} has been withdrawn. New balance: ${self.balance}")
            else:
                print("Insufficient funds.")
        else:
            print("Withdrawal amount must be positive.")

    def show_info(self):
        """Muestra la información de la cuenta."""
        print(f"Account Owner: {self.owner}")
        print(f"Account Number: {self.account_number}")
        print(f"Current Balance: ${self.balance}")

In [48]:
# Crear una cuenta bancaria
account = BankAccount("Miguel Villasante", "123456789", 1000)

# Mostrar información de la cuenta
print("Account information:")
account.show_info()

# Realizar un depósito
print("\nMaking a deposit of $500:")
account.deposit(500)

# Intentar retirar más dinero del que hay en el saldo
print("\nAttempting to withdraw $2000:")
account.withdraw(2000)

# Retirar una cantidad válida
print("\nWithdrawing $300:")
account.withdraw(300)

# Mostrar la información final de la cuenta
print("\nFinal account information:")
account.show_info()

Account information:
Account Owner: Miguel Villasante
Account Number: 123456789
Current Balance: $1000

Making a deposit of $500:
$500 has been deposited. New balance: $1500

Attempting to withdraw $2000:
Insufficient funds.

Withdrawing $300:
$300 has been withdrawn. New balance: $1200

Final account information:
Account Owner: Miguel Villasante
Account Number: 123456789
Current Balance: $1200


8.Create a class called Mascot that represents a mascot in a store. The class must have the following attributes and methods:

Attributes:

- name: The name of the pet.
- species: The species of the pet (dog, cat, etc.).
- breed: The breed of the pet.
- age: The age of the pet.
- price: The price of the pet.

Methods:

- __init__(self, name, species, race, age, price): Constructor that initializes the class with the given attributes.
- show_information(self): Prints the pet information in a readable format.
- discount(self, percentage): Applies a discount to the price of the pet.

In [49]:
class Mascot:

    def __init__(self, name, species, breed, age, price):
        
        self.name = name
        self.species = species
        self.breed = breed
        self.age = age
        self.price = price
    
    def show_information(self):
       
        print("Mascot Information:")
        print(f"Name: {self.name}")
        print(f"Species: {self.species}")
        print(f"Breed: {self.breed}")
        print(f"Age: {self.age} years")
        print(f"Price: ${self.price:.2f}")
    
    def discount(self, percentage):
   
        if percentage < 0 or percentage > 100:
            print("Invalid discount percentage. Must be between 0 and 100.")
        else:
            discount_amount = self.price * (percentage / 100)
            self.price -= discount_amount
            print(f"Applied a discount of {percentage}%. New price: ${self.price:.2f}")


mascot1 = Mascot("Rita", "Dog", "Viringo peruano", 3, 7300.0)

mascot1.show_information()

mascot1.discount(1)

mascot1.show_information()

Mascot Information:
Name: Rita
Species: Dog
Breed: Viringo peruano
Age: 3 years
Price: $7300.00
Applied a discount of 1%. New price: $7227.00
Mascot Information:
Name: Rita
Species: Dog
Breed: Viringo peruano
Age: 3 years
Price: $7227.00