 # Assignment_3

If you copy codes from previous answers, explain each step. No explanation is 0 points.

## Part 1. Functions

1.Write a function that takes two numeric parameters, `a` and `b`, and subtracts both numbers, such that `c = a - b`. Expresses `c` as the value to return.

2.Write a function that transforms the temperature from degrees Celsius to degrees Fahrenheit. The formula is:    
$F = 1.8*C + 32$

In [ ]:
def celsius_a_fahrenheit(temp_c):
    '''
     transform temperature from celsius to fahrenheit
    Input: 
        temp_c:float number
    Output: 
        returns: float number
    '''
    
    #Write your function here
    
    return temp_f

3.Write a function that gives the result of a division of two numbers, however, the result must be a mixed number. 

Mixed numbers are a representation that has an integer part and a part less than one. For example, $50 / 7$ is represented as follows:
$
  7\frac{1}{7}
$  

Another example: $23 / 4$ would be 
$
  5\frac{3}{4}
$  

The function takes 2 arguments: first, the number to divide, and second, the divisor. 

The function returns a list with 3 elements: the integer, the numerator of the fraction and the denominator of the fraction. 

For example, ``` mixed_number(23,4)``` results in ```[5, 3, 4] ```. 

``` mixed_number(24,4)``` results in ```[6, 0, 4] ```. 

Hint: floor and module

In [ ]:
def mixed_numb(num, den):
    '''

    Convert division to mixed number
    Input: 
        num: integer
        den: integer
    Output: 
        returns: list with 3 numbers
    '''

4.We have the next function

In [12]:
def school_grade(age):
    
    ''' calculate the school grade you belong to according to your age
    Input: 
    age: int
    output: tuple, composed of 
    grade: string
    esp: specific what degree
    
    '''
    
    if ((age < 6) | (age > 17)):
        return "Isn't in school grader"
    #assert age > 5 & age < 17
    elif ((age >=6) & (age < 12)):
        grade = "Primary"
        if age == 6:
            esp = "1st grade"
        elif age == 7:
            esp = "2nd grade"
        elif age == 8:
            esp = "3rd grade"
        elif age == 9:
            esp = "4th grade"
        elif age == 10:
            esp = "5th grade"
        else:
            esp= "6th grade"
        
    else:
        grade = "Highschool"
        if age == 12:
            esp = "1st grade"
        elif age == 13:
            esp = "2nd grade"
        elif age == 14:
            esp = "3rd grade"
        elif age == 15:
            esp = "4th grade"
        else:
            esp = "5th grade"
            
    return grade, esp

Likewise, we have 7 children, who are of the following ages:   
    `ages = [2, 4, 6, 7, 10, 15, 16]`  
We want to know what grades/years these children go to. To do this, create an empty list. In this list you will store the result of said function for each of the ages in this list. Use a for loop . 

Hint: To get familiar with the feature, you can use it with ages within the school age range.

In [17]:
# we create a empty list call results
results = []

# define the age of 7 children
ages = [2, 4, 6, 7, 10, 15, 16]

# use loop through each age and apply the function
for age in ages:
    results.append(school_grade(age))

# Print the results
for age, result in zip(ages, results):
    print(f"Age: {age}, Grade: {result}")

Age: 2, Grade: Isn't in school grader
Age: 4, Grade: Isn't in school grader
Age: 6, Grade: ('Primary', '1st grade')
Age: 7, Grade: ('Primary', '2nd grade')
Age: 10, Grade: ('Primary', '5th grade')
Age: 15, Grade: ('Highschool', '4th grade')
Age: 16, Grade: ('Highschool', '5th grade')

5. Write a function that converts Lima time (GMT -5) into 4 possible hours: 
- Vanuatu Time (GMT +11)  
- Dominica Time (GMT - 4)
- Time Abuja, Nigeria (GMT +1)
- Beijing, China Time (GMT +8)  
(We can use a dictionary inside the function, to find the city-time pairs more easily.)

Let's assume that we will only use whole hours. 
The function must have 2 parameters: 
- the Lima time that we want to convert (integer). 
- the city (string) to which we want to convert the time.

The function must return the time (0 to 24 hours) as a number (can be a float ending in .0). Be careful that you have to handle the case when the sum is more than 24 hours (Hint: %). 
There are cases in which the time can be negative (Hint: See it as a subtraction)

In [8]:
#We need calculate the difference between Lima and the cities to define the dictionary
#Vanuatu Time - Lima Time: (GMT +11)-(GMT - 5) = +16
#Dominica Time- Lima Time: (GMT - 4)-(GMT - 5) = +1
#Abuja Time - Lima Time:(GMT +1)-(GMT - 5) = +6
#Beijing Time - Lima Time: (GMT +8)-(GMT - 5) = +13

#we define the dictionary with the difference the lima time
def convert_time(lima_time, city):

    diff_time = {
        "Vanuatu": 16,   
        "Dominica": 1,   
        "Abuja": 6,      
        "Beijing": 13    
    }

#If the sum of the hours is more than 24 hours
    converted_time = (lima_time + diff_time[city]) % 24

#If the time is negative, the time should be sum at 24 hours
    if converted_time < 0:
        converted_time += 24

    return converted_time

# To see the time in the cities
print(convert_time(10, "Vanuatu"))  
print(convert_time(1, "Beijing"))

2
14

## Part 2. Classes

6. Person Class
- Attributes: name, age, address.
Methods:
__init__(): Constructor to initialize attributes.
- greet(): Print a custom greeting.
- birthday_years(): Increases the age by one.

In [13]:
class Person:
    
    # Attributes
    def __init__(self, name, age, address): #initializes the Person class with three parameters: name, age, adress.
        self.name = name
        self.age = age
        self.address = address
    
    # Methods
    def greet(self):
        print(f"Hi everyone, I am {self.name}. I live at {self.address}.") #prints a greeting that includes the person's name and address.

    def birthday_years(self):
        self.age += 1
        print( f'Today is my birthday, I am now {self.age} years old!' )  #increments the person's age by one

In [15]:
lupe = Person("Lupe", 23, "742 Evergreen Terrace") #example using the methods to display Lupe's attributes
lupe.greet()
lupe.birthday_years()

Hi everyone, I am Lupe. I live at 742 Evergreen Terrace.
Today is my birthday, I am now 24 years old!

7.BankAccount Class
- Attributes: owner, account_number, balance.
Methods:
- deposit(): Increase the balance.
- withdraw(): Decreases balance (check for sufficient funds).
- show_info(): Prints the account information.

In [20]:
class BankAccount:

    # Attributes
    def __init__(self, owner, account_number, balance): #define the class's parameters
        self.owner = owner
        self.account_number = account_number
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount #add the deposit amount to the balance
        print(f"Deposited ${amount}. New balance is ${self.balance}.") #print the deposit amount and the new balance

    def withdraw(self, amount):
        if amount > self.balance:
            raise ValueError("Insufficient funds for this withdrawal.")
        self.balance -= amount #subtract the withdrawal amount from the balance
        print(f"Withdrew ${amount}. New balance is ${self.balance}.") #print the withdrawal and the new balance

    def show_info(self): #define a method that prints the account information including the last arguments.
        print("Bank Account Information")
        print(f"Owner          : {self.owner}")
        print(f"Account Number : {self.account_number}")
        print(f"Current Balance: ${self.balance}")

In [28]:
Luci= BankAccount("Luci", 2357293783, 780) #example where the withdrawal does not exceed the available balance.
Luci.deposit(20)
Luci.withdraw(800)
Luci.show_info()

Deposited $20. New balance is $800.
Withdrew $800. New balance is $0.
Bank Account Information
Owner          : Luci
Account Number : 2357293783
Current Balance: $0

In [30]:
Luci= BankAccount("Luci", 2357293783, 780) #example where the withdrawal exceeds the available balance and raises an error
Luci.deposit(20)
Luci.withdraw(820)
Luci.show_info()

Deposited $20. New balance is $800.

ValueError: Insufficient funds for this withdrawal.


8.Create a class called Mascot that represents a mascot in a store. The class must have the following attributes and methods:

Attributes:

- name: The name of the pet.
- species: The species of the pet (dog, cat, etc.).
- breed: The breed of the pet.
- age: The age of the pet.
- price: The price of the pet.

Methods:

- __init__(self, name, species, race, age, price): Constructor that initializes the class with the given attributes.
- show_information(self): Prints the pet information in a readable format.
- discount(self, percentage): Applies a discount to the price of the pet.

In [31]:
class Mascot: #class to represent the characteristics of a pet
    
    # Attributes
    def __init__(self, name, species, breed, age, price):
        self.name = name
        self.species = species
        self.breed = breed
        self.age = age
        self.price = price

    def show_information(self): #prints the mascot's information
        print("Mascot Information:")
        print(f"Name     : {self.name}")
        print(f"Species  : {self.species}")
        print(f"Breed    : {self.breed}")
        print(f"Age      : {self.age} year{'s' if self.age >= 1 else ''}")
        print(f"Price    : ${self.price}")

    def discount(self, percentage): #calculates the new price after applying a discount
        discount_amount = self.price * (percentage / 100)
        self.price -= discount_amount
        print(f"Applied a discount of {percentage}%.")
        print(f"Discount Amount: ${discount_amount}")
        print(f"New Price: ${self.price}")

In [32]:
Lin = Mascot("Lin", "Dog", "Chihuahua", 6, 100) #example showing the pet's information
Lin.show_information()

Mascot Information:
Name     : Lin
Species  : Dog
Breed    : Chihuahua
Age      : 6 years
Price    : $100

In [33]:
Lin.discount(5) #example of calculating the discount and new price

Applied a discount of 5%.
Discount Amount: $5.0
New Price: $95.0