 # Assignment_3

If you copy codes from previous answers, explain each step. No explanation is 0 points.

## Part 1. Functions

1.Write a function that takes two numeric parameters, `a` and `b`, and subtracts both numbers, such that `c = a - b`. Expresses `c` as the value to return.

In [1]:
# I define a function that takes two numbers as parameters
def subtrac_numbers(a,b):
    c= a-b
    return c

In [2]:
subtrac_numbers(10,3)

7

In [4]:
result = subtrac_numbers(10,3)
print ("The result of the subtraction is: ", result)

The result of the subtraction is:  7

2.Write a function that transforms the temperature from degrees Celsius to degrees Fahrenheit. The formula is:    
$F = 1.8*C + 32$

In [6]:
def celsius_a_fahrenheit(temp_c):
    '''
     transform temperature from celsius to fahrenheit
    Input: 
        temp_c:float number
    Output: 
        returns: float number
    '''
    
    temp_f=(1.8* temp_c) + 32
    
    return temp_f

In [7]:
# Now, I test my function with an example
celsius_a_fahrenheit(25.34)

77.612

In [8]:
result=  celsius_a_fahrenheit(25.34)

In [9]:
# I print the result to confirm that my function works correctly.
print("The temperature in Fahrenheit is:", result)

The temperature in Fahrenheit is: 77.612

3.Write a function that gives the result of a division of two numbers, however, the result must be a mixed number. 

Mixed numbers are a representation that has an integer part and a part less than one. For example, $50 / 7$ is represented as follows:
$
  7\frac{1}{7}
$  

Another example: $23 / 4$ would be 
$
  5\frac{3}{4}
$  

The function takes 2 arguments: first, the number to divide, and second, the divisor. 

The function returns a list with 3 elements: the integer, the numerator of the fraction and the denominator of the fraction. 

For example, ``` mixed_number(23,4)``` results in ```[5, 3, 4] ```. 

``` mixed_number(24,4)``` results in ```[6, 0, 4] ```. 

Hint: floor and module

In [10]:
def mixed_numb(num, den):
    '''

    Convert division to mixed number
    Input: 
        num: integer
        den: integer
    Output: 
        returns: list with 3 numbers
    '''
     # I calculate the integer part of the division
    integer_part = num // den  
    
    # I calculate the remainder (numerator of the fraction)
    numerator = num % den  
    
    # The denominator remains the same
    denominator = den  

    # I return the mixed number as a list
    return [integer_part, numerator, denominator]

# I test the function
print(mixed_numb(23, 4))

[5, 3, 4]

In [11]:
print(mixed_numb(24, 4))

[6, 0, 4]

4.We have the next function

In [5]:
def school_grade(age):
    '''
    calculate the school grade you belong to according to your age
    Input: 
    age: int
    output: tuple, composed of 
    grade: string
    esp: specific what degree
    
    '''
    
    if ((age < 6) | (age > 17)):
        return "Isn't in school grader"
    #assert age > 5 & age < 17
    elif ((age >=6) & (age < 12)):
        grade = "Primary"
        if age == 6:
            esp = "1st grade"
        elif age == 7:
            esp = "2nd grade"
        elif age == 8:
            esp = "3rd grade"
        elif age == 9:
            esp = "4th grade"
        elif age == 10:
            esp = "5th grade"
        else:
            esp= "6th grade"
        
    else:
        grade = "Highschool"
        if age == 12:
            esp = "1st grade"
        elif age == 13:
            esp = "2nd grade"
        elif age == 14:
            esp = "3rd grade"
        elif age == 15:
            esp = "4th grade"
        else:
            esp = "5th grade"
            
    return grade, esp

Likewise, we have 7 children, who are of the following ages:   
    `ages = [2, 4, 6, 7, 10, 15, 16]`  
We want to know what grades/years these children go to. To do this, create an empty list. In this list you will store the result of said function for each of the ages in this list. Use a for loop . 

Hint: To get familiar with the feature, you can use it with ages within the school age range.

In [6]:
# First we have a basic list of ages
ages = [2, 4, 6, 7, 10, 15, 16]

# Make an empty list
grades = []

# We will iterate over each age and call the school_grade function
for age in ages:
    result = school_grade(age)
    grades.append(result)

# Finally, we print the results
for age, grade in zip(ages, grades):
    print(f"Age: {age} -> Grade: {grade}")

Age: 2 -> Grade: Isn't in school grader
Age: 4 -> Grade: Isn't in school grader
Age: 6 -> Grade: ('Primary', '1st grade')
Age: 7 -> Grade: ('Primary', '2nd grade')
Age: 10 -> Grade: ('Primary', '5th grade')
Age: 15 -> Grade: ('Highschool', '4th grade')
Age: 16 -> Grade: ('Highschool', '5th grade')

5. Write a function that converts Lima time (GMT -5) into 4 possible hours: 
- Vanuatu Time (GMT +11)  
- Dominica Time (GMT - 4)
- Time Abuja, Nigeria (GMT +1)
- Beijing, China Time (GMT +8)  
(We can use a dictionary inside the function, to find the city-time pairs more easily.)

Let's assume that we will only use whole hours. 
The function must have 2 parameters: 
- the Lima time that we want to convert (integer). 
- the city (string) to which we want to convert the time.

The function must return the time (0 to 24 hours) as a number (can be a float ending in .0). Be careful that you have to handle the case when the sum is more than 24 hours (Hint: %). 
There are cases in which the time can be negative (Hint: See it as a subtraction)

In [7]:
# First, define convert_lima_time

def convert_lima_time(lima_time, city):
    '''Convert Lima time (GMT -5) into different city times based on the given city.
    
    Parameters:
    lima_time: int - The time in Lima (GMT -5).
    city: str - The city to which the time should be converted. It can be one of: 'Vanuatu', 'Dominica', 'Abuja', 'Beijing'.
    
    Returns:
    float - The converted time in the desired city, handling cases when it goes beyond 24 hours or is negative.
    '''
    
    # Dictionary with the GMT offsets for each city
    time_zones = {
        'Vanuatu': 11,        # GMT +11
        'Dominica': -4,       # GMT -4
        'Abuja': 1,           # GMT +1
        'Beijing': 8          # GMT +8
    }
    
    # Whe check if the city is valid
    if city not in time_zones:
        return "Invalid city"
    
    # Calculate the time difference in hours
    gmt_offset = time_zones[city]
    
    # Convert Lima time to the new city time
    new_time = lima_time + gmt_offset
    
    # Handle cases where the time is more than 24 hours or less than 0
    converted_time = new_time % 24
    
    # If the result is negative, add 24 hours to make it positive (+)
    if converted_time < 0:
        converted_time += 24
    
    return round(converted_time, 1)

In [8]:
# Example
lima_time = 6  # 6 AM in Lima
city = 'Beijing'
converted_time = convert_lima_time(lima_time, city)
print(f"Lima time {lima_time}:00 converted to {city} time is {converted_time} hours.")

Lima time 6:00 converted to Beijing time is 14 hours.

## Part 2. Classes

6. Person Class
- Attributes: name, age, address.
Methods:
__init__(): Constructor to initialize attributes.
- greet(): Print a custom greeting.
- birthday_years(): Increases the age by one.

In [1]:
class Person:

    # Atributes
    def __init__(self, name, age, address):
        """
        Constructor to initialize the attributes of the Person class.

        :param name: str - The name of the person
        :param age: int - The age of the person
        :param address: str - The address of the person
        """
        self.name = name
        self.age = age
        self.address = address

    # Methods
    def greet(self):
        """
        Prints a custom greeting message using the person's name.
        """
        print(f"Hello, {self.name}. It's an honor to meet you!")

    def birthday_years(self):
        """
        Increases the person's age by one.
        """
        self.age += 1
        print(f"Hello, {self.name}. You will be {self.age} on your birthday")

In [3]:
# We make a example to check out the class

person1 = Person(name="Carlos", age=20, address="Av. Universitaria 1801")
person1.greet()  # Output: Hello, Carlos. It's an honor to meet you!
person1.birthday_years()  # Output: Hello, Carlos. You will be 21 on your birthday.

Hello, Carlos. It's an honor to meet you!
Hello, Carlos. You will be 21 on your birthday

7.BankAccount Class
- Attributes: owner, account_number, balance.
Methods:
- deposit(): Increase the balance.
- withdraw(): Decreases balance (check for sufficient funds).
- show_info(): Prints the account information.

In [7]:
class BankAccount:

    # Attributes
    def __init__(self, owner, account_number, balance=0):
        """
        Constructor to initialize the attributes of the BankAccount class.

        :param owner: str - The name of the account owner
        :param account_number: str - The account number
        :param balance: float - The initial balance of the account (default is 0)
        """
        self.owner = owner
        self.account_number = account_number
        self.balance = balance

    # Methods
    def deposit(self, amount_1):
        """
        Increases the balance of the account by the specified amount.

        :param amount_1: float - The amount to deposit
        """
        self.balance += amount_1
        print(f"Deposit of ${amount_1} successful. New balance: ${self.balance:.2f}")

    def withdraw(self, amount_2):
        """
        Decreases the balance of the account by the specified amount.

        :param amount_2: float - The amount to withdraw
        """
        if amount_2 > self.balance:
            print("There are insufficient funds to make the withdrawal. Try again.")
        else:
            self.balance -= amount_2
            print(f"Withdrawal of ${amount_2} successful. New balance: ${self.balance:.2f}")

    def show_info(self):
        """
        Prints the account information.
        """
        print(f"Account owner: {self.owner}")
        print(f"Account number: {self.account_number}")
        print(f"Current balance: ${self.balance:.2f}")

In [9]:
# We make a example to check out the class

person2 = BankAccount(owner="Pablo", account_number=20, balance=200)
person2.show_info() # Shows initial account details
person2.deposit(200) # Deposit $200
person2.withdraw(100) # Withdraw $100
person2.withdraw(400) # Attempt to withdraw $400 (should fail)
person2.show_info() # Show updated account details

Account owner: Pablo
Account number: 20
Current balance: $200.00
Deposit of $200 successful. New balance: $400.00
Withdrawal of $100 successful. New balance: $300.00
There are insufficient funds to make the withdrawal. Try again.
Account owner: Pablo
Account number: 20
Current balance: $300.00


8.Create a class called Mascot that represents a mascot in a store. The class must have the following attributes and methods:

Attributes:

- name: The name of the pet.
- species: The species of the pet (dog, cat, etc.).
- breed: The breed of the pet.
- age: The age of the pet.
- price: The price of the pet.

Methods:

- __init__(self, name, species, race, age, price): Constructor that initializes the class with the given attributes.
- show_information(self): Prints the pet information in a readable format.
- discount(self, percentage): Applies a discount to the price of the pet.

In [11]:
class Mascot:

    # Attributes
    def __init__(self, name, species, breed, age, price):
        """
        Constructor to initialize the attributes of the Mascot class.

        :param name: str - The name of the pet
        :param species: str - The species of the pet (dog, cat, etc.)
        :param breed: str - The breed of the pet.
        :param age: int - The age of the pet.
        :param price: float - The price of the pet.
        """

        self.name = name
        self.species = species
        self.breed = breed
        self.age = age
        self.price = price

    # Methods
    def show_information(self):
        """
        Prints the pet information in a readable format.
        """
        print(f"Name: {self.name}")
        print(f"Species: {self.species}")
        print(f"Breed: {self.breed}")
        print(f"Age: {self.age}")
        print(f"Price: ${self.price:.2f}")

    def discount(self, percentage):
        """
        Applies a discount to the price of the pet.

        :param percentage: float - The discount percentage (0 to 1)
        """
        self.price *= (1 - percentage)
        print(f"Discount applied to {self.name}. New price: ${self.price:.2f}")

In [13]:
# We make a example to check out the class

pet = Mascot("Bobby", "Dog", "Shitzú", 5, 200)
pet.show_information() # Show the information about the pet
pet.discount(0.2) # Applies a discount and show the new price

Name: Bobby
Species: Dog
Breed: Shitzú
Age: 5
Price: $200.00
Discount applied to Bobby. New price: $160.00